.bubbleRow{
  overflow-x: hidden;
  }
  
  /* KEYFRAMES */
  
  @keyframes animateBubble {
    0% {
      margin-top: 1000px;
    }
    100% {
      margin-top: -100%;
    }
  }
  
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 80px; /* flatuate within 80px sideways */
    }
  }
  
  /* ANIMATIONS */
  
  .b1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 1.8s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 1.8s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 1.8s ease-in-out infinite alternate;
    z-index: 2;
    margin-left: 70%;
    top: 0;
    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
            transform: scale(0.6);
  }
  
  .b2 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 26s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 26s linear infinite, sideWays 3s ease-in-out infinite alternate;
    z-index: 2;
    margin-left: 60%;
    top: 5%;  
    -webkit-transform: scale(0.4);
       -moz-transform: scale(0.4);
            transform: scale(0.4);
  }

  .b3 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	  z-index: 2;
    margin-left: 75%;
    top: 16%;
    -webkit-transform: scale(0.3);
       -moz-transform: scale(0.3);
            transform: scale(0.3);
  }
 
  /*--- bubbles --- */
  
  .bubble {
    border-radius: 50%;
    box-shadow: inset 0px 10px 30px 5px hsla(0, 0%, 100%, 0.878);
    height: 80px;
    position: absolute;
    width: 80px;
  }
